body {
    margin: 0 auto;
    max-width: 960px;
    background-color: #000054;
    font-family: 'Marcellus';
    color: white
}

nav {
    background-color: #2196F3;
    display: flex;
    justify-content: flex-end;
}

nav li {
    border: solid 1px white;
    border-radius: 25px;
    margin-right: 10px;
    padding: 3px;
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 3px
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#store-name {
    height: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    border: dotted 1px white;
}

footer {
    background-color: black;
    height: 200px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#featured {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 720px;
    display: flex;
    align-items: center;
    border: solid 2px white;
    border-radius: 25px;
    background-color: #2196F3;
    margin: 0 auto;
}

#featured img {
    width: 120px;
    padding: 30px;
    border: solid 1px white;
    background-color: white;
    border-radius: 55px
}

#about-store {
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

