body {
    background-color: #000054;
    color: white;
    font-family: 'Marcellus';
}

li {
    border: solid 2px white;
    border-radius: 25px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

h3 {
    text-align: center;
}

img {
    width: 64px;
    height: 64px;
}

.rupee {
    width: 12px;
    height: 21px;
}

#price {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.price {
    display: flex;
    justify-content: flex-end;
}

th {
    width: 100px
}